{
  "extends": [
    "@antfu",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "rules": {
    "@typescript-eslint/no-require-imports": "off",
    "no-useless-catch": "off",
    "import/no-unresolved": "off",
    "antfu/top-level-function": "off",
    "no-console": "off",
    "no-invalid-this": "off",
    "@typescript-eslint/no-invalid-this": "error"
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}

